<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tools.dao.CrawlerLinkMapper">

	<sql id="ToolLinkColumns"> 
		a.LINK_VALUE AS "href",
		a.INFOLINK_CODE AS "code",
		a.LINK_TYPE AS "type",
		a.INFOLINK_NAME AS"name"
	</sql>
	<select id="findList" resultType="com.tools.entity.ToolLink">
		SELECT
		<include refid="ToolLinkColumns" />
		FROM t_niis_infolink a
		<where>
			a.DELETE_STATUS = 0
		</where>

				ORDER BY a.MODIFIEDON DESC
	</select>

</mapper>